$primary: #3d3b46;
$primary-light: rgba(61, 59, 70, 0.6);
$accent: #595861;
$accent-light: rgba(89, 88, 97, 0.6);
$text: #d0eaf9;
$orange: F9A109;
$black: #000000;
$white: #ffffff;
$boxshadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
  0px 6px 24px rgba(0, 0, 0, 0.05);
$boxshadow-light: 0px 6px 24px rgba(0, 0, 0, 0.05);
$lemon: #f3e31b;
$goblin: #40863e;
$mineshaft: #232323;
$bush: #0c2b23;
$gray: #c6c6c7;
$ebb: #e6dedd;
$tulip: #c5e8f5;
$flamingo: #f45434;
$silver: #bcbcbc;
$milanored: #b30c04;
$sunsetorange: #fc434b;
$blumine: #235b83;
$blueturqoise: #14c2fa;
