@import "./colors";
@import "./mixins";

#selected_video {
  @include tablet-upwards {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile-padding();

  #video_player {
    width: 100%;
    border-radius: 0.75rem;
    object-fit: cover;
    object-position: center;
    box-shadow: $boxshadow;
  }
}
